
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.navbar-toggler-icon {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #555;
  border-radius: 5px;
}


.main-content {
  padding: 20px;
}













.resolved-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resolved-list-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.resolved-list {
  list-style-type: none;
  padding: 0;
}

.resolved-list-item {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.resolved-list-item strong {
  font-weight: bold;
  color: #333;
  display: inline-block; 
  width: 70px;
  margin-bottom: 5px; 
}


/* Estilos para el select */
.select-container {
  margin-top: 10px;
}

.select-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.select-container select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.select-container select:hover,
.select-container select:focus {
  border-color: #007bff; 
}












.toggle-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-checkbox {
  width: auto;
  margin-right: 5px;
}

.form-input:hover,
.form-input:focus {
  border-color: #007bff;
}

.create-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #218838;
}

.notification {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.create-pendiente {
  margin-top: 20px;
}